<form class="well well-sm" id="new_race_form">
    <p>You can run up to 3 races simultaneously. Select the race and click start.</p>
    {% for e in data.objects %}
    <div class="form-check">
        <label>
            <input name="event_id" class="form-check-input" type="checkbox" value="{{ e.id }}">
            {{ e.name }}
        </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-danger btn-lg"><i class="fa fa-exclamation-triangle"></i> START EVENT(S)</button>
{#    <button class="btn btn-primary btn-lg"><i class="fa fa-history"></i> PAST RACES</button>#}
{#    <button class="btn btn-secondary btn-lg"><i class="fa fa-list-ol"></i> LEADERBOARD</button>#}
</form>

<script>
    $(document).ready(function(){
        var $new_race_form = $("#new_race_form");
        $new_race_form.submit(function (e) {
            e.preventDefault();
            var race_data = $new_race_form.serializeObject();
            console.debug(race_data);
            if (race_data.hasOwnProperty("event_id")){
                if (!Array.isArray(race_data.event_id))
                    race_data.event_id=[race_data.event_id];
                $(race_data.event_id).each(function(i,event_id){
                    ajax.post("/api/race", JSON.stringify({event_id: event_id}));
                })
            }
        });
    });
</script>