#notifications {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    margin: 0;
    pointer-events: none;
}
#notifications .alert {
    width: 500px;
    min-width: 400px;
    margin: 10px auto 5px auto;
    opacity: 0.85;
    pointer-events: auto;
    /*font-size: 15px;*/
}
#notifications .alert a {
    color: inherit;
    font-weight: bold;
}
/*#notifications .alert:hover {*/
    /*opacity: 0.30;*/
/*}*/

#confirmation-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    width: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
}
#confirmation-backdrop .confirm-dialog {
    width: 500px;
    min-width: 400px;
    margin: 150px auto 10px auto;
    border: 1px solid black;
    padding: 25px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}
#confirmation-backdrop .confirm-dialog p {
    margin-bottom: 20px;
}

.loader-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    z-index: 1000;
    color: black;
}

.modal .close {
    margin-top: -20px;
    margin-right: -15px;
}

.modal-xl {
    width: 100%;
    padding: 0 30px;
}

.modal-full {
    width: auto;
    margin: 0;
    padding: 10px;
    height: 100%;
}

.modal-full .modal-body, .modal-full .modal-content, .modal-full .modal-html {
    height: 100%;
}

.modal-full .close {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

