<div class="race-static-header">
    <h3>
        <a href="#" class="float-right"><i class="fa fa-bars"></i> </a>
        {{ data.event.name }}
    </h3>
    {% if data.ended_at %}
        ENDED AT: {{ data.ended_at }}
    {% elif data.started_at %}
        {# New active race #}
        <div class="race-timer">{{data.curtime|format_seconds}} s</div>
    {% else %}
        {# Unstarted new race #}
    {% endif %}
</div>
<div class="race-scroller">
    <table class="table table-sm table-striped">
        <thead>
        <tr><th>Name</th><th>Start</th><th>End</th><th><i class="fa fa-cog"></i></th></tr>
        </thead>
        <tbody class="race-table-body">
            {% for c in data.competitors %}
            <tr><td>
                {{ c.first_name }} {{ c.last_name }}
            </td><td>
                {{ c.start_time|format_seconds }}
            </td><td>
                {{ c.end_time | format_seconds or "-" }}
            </td><td>
                <a href="#"><i class="fa fa-bars"></i> </a>
            </td></tr>
            {% endfor %}
        </tbody>
    </table>

</div>

