<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/plugins.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>{{ config.INSTANCE_NAME }}: DASHBOARD</title>
</head>
<body>
<main role="main">
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">

        <div id="dismiss">
            <i class="fa fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h4>Races:</h4>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a data-action="startevent" href="#inactive_event_list" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle event-list-control">
                    Create new race
                </a>
                <ul class="collapse list-unstyled" id="inactive_event_list">

                </ul>
            </li>
            <li>
                <a data-action="startrace" href="#unstarted_race_list" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle event-list-control">
                    Start a race
                </a>
                <ul class="collapse list-unstyled" id="unstarted_race_list">
                </ul>
            </li>
            <li>
                <a data-action="endrace" href="#started_race_list" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle event-list-control">
                    End an active race
                </a>
                <ul class="collapse list-unstyled" id="started_race_list">
                </ul>
            </li>
        </ul>
        <div class="sidebar-header">
            <h4>Admin:</h4>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#">Something</a>
            </li>
            <li>
                <a href="#">Something else</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">

        <h2>
            <a type="button" id="sidebarCollapse" href="#">
                <i class="fa fa-bars"></i>
                {{ config.INSTANCE_NAME }}
            </a>
        </h2>
        <div class="container-fluid">


            <div class="row races-container">
            </div>
        </div>
    </div>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>
    <div id="todo-list">
        <b>TODO LIST</b>
        <ul>
            <li>Competitor popover</li>
            <li>Add unkown tag to race <ul>
                <li>New tag - club member / preregistered / manual entry</li>
                <li>Existing competitor more than one active race</li>
            </ul></li>
            <li>Scrolling race list with timer in static position</li>
            <li>Auto scroll race list</li>
            <li>Show newly added members</li>
            <li>Admin options <ul>
                <li>View / edit previous race</li>
                <li>Send race results email</li></ul></li>
        </ul>
    </div>
</main>

{#<main role="main">#}
{##}
{##}
{##}
{#    <!-- Main jumbotron for a primary marketing message or call to action -->#}
{#    <div class="jumbotron" style="margin: 0">#}
{#        <div class="container-fluid">#}
{#            <h1 class="display-3">#}
{#                <img src="/static/images/icon-swimming.png" alt="" style="height: 80px">#}
{#                {{ config.INSTANCE_NAME }}#}
{#            </h1>#}
{#            <div id="event_list"></div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">#}
{#        <div class="container-fluid">#}
{#            <a class="navbar-brand" href="#">#}
{#              <img src="/static/images/icon-swimming.png" alt="" style="height: 50px">#}
{#            {{ config.INSTANCE_NAME }}</a>#}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"#}
{#                    aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
{#            <div class="collapse navbar-collapse" id="main_nav">#}
{#                <ul class="navbar-nav ml-auto">#}
{#                    <li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>#}
{#                    <li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>#}
{#                </ul>#}
{#            </div> <!-- navbar-collapse.// -->#}
{#        </div> <!-- container.// -->#}
{#    </nav>#}
{##}
{#    <div class="container-fluid">#}
{#        <div class="row races-container">#}
{#        </div>#}
{#    </div> <!-- /container -->#}
{#</main>#}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/plugins.js"></script>

<script>
    $(window).ready(function(){
        var refresh_delay = 1000;  // ms
        var $races_container = $(".races-container");
        var status_url = "/api/status";
        var active_event_ids = [];
        var active_race_ids = [];
        var $event_list_controls = $(".event-list-control");
        /*
        var $header = $('.jumbotron');
        var $event_list = $("#event_list");
        var $race_lists = $(".race-list");
        var scroll_height = null;
        var scroll_position = null;
        var active_races_url = '/api/race/state?q={"filters":[{"name":"is_active","op":"eq","val":true}]}'
        */




        function update_race_controls() {
            $event_list_controls.each(function (i, el){
                var $list_container = $(el).siblings($(el).attr("target"));
                var action = $(el).data("action");
                var url, onclick, get_name;
                if (action==="startevent") {
                    url = '/api/event?q='+JSON.stringify({filters:[{name:"id", op:"not_in", val:active_event_ids}]});
                    onclick = function(el) {return ajax.post("/api/race", JSON.stringify({event_id: el.id}))};
                    get_name = function(el) {return el.name};
                }
                else if (action==="startrace") {
                    url = '/api/race?q='+JSON.stringify({filters:[{name:"id", op:"in", val:active_race_ids}, {name:"started_at", op:"is_null"}]});
                    onclick = function(el) {return ajax.patch("/api/race/"+el.id+"/start")};
                    get_name = function(el) {return el.event.name};
                }
                else if (action==="endrace") {
                    url = '/api/race?q='+JSON.stringify({filters:[{name:"id", op:"in", val:active_race_ids}, {name:"started_at", op:"is_not_null"}, {name:"ended_at", op:"is_null"}]});
                    onclick = function(el) {return ajax.patch("/api/race/"+el.id+"/stop")};
                    get_name = function(el) {return el.event.name};
                }
                ajax.get(url+"&_="+Date.now(), {success:function(data){
                        $list_container.html("");
                        $.each(data.objects, function(i, el){
                            var $a = $("<a href='javascript:void(0)'>"+get_name(el)+"</a>").click(function(e){
                                onclick(el).done(sidebar.close);
                                /*.done(function(){
                                    console.debug("RELOAD: "+action);
                                    setTimeout(update_race_controls, 500);
                                });*/
                            });
                            $list_container.append($('<li>').append($a))
                        });
                    }
                });
            });
        }



        //console.debug(scroll_height, )
        /*
        $(window).scroll(function () {
            if (scroll_height===null) scroll_height = $header.outerHeight();
            scroll_position = $(this).scrollTop();
            //console.debug("scroll_position:"+scroll_position+", scroll_height:"+scroll_height);
            if (scroll_position > scroll_height && !$races_container.hasClass("scrolled")) {
                $races_container.addClass("scrolled");
            } else if (scroll_position < scroll_height && $races_container.hasClass("scrolled")) {
                $races_container.removeClass("scrolled");
                $race_lists.scrollTop(0);
            }
        });
        */


        function get_status() {
            ajax.get(status_url, {
                success: function (data) {
                    // active races
                    if (data.active_races.length <= 0) {
                        active_event_ids = [];
                        active_race_ids = [];
                        // TODO: no active races, so show other things?
                    }
                    else {
                        active_event_ids = data.active_races.map(function(i){return i.event_id});
                        active_race_ids = data.active_races.map(function(i){return i.id});
                        var q = {filters:[{name:"id",op:"not_in",val:active_event_ids}]};
                        //load_content.html('/api/event?template=models/event/new_race.html&q='+JSON.stringify(q), $event_list);
                        $(data.active_races).each(function(i, r){
                            var $race = $races_container.find("#race_id_"+r.id);
                            if ($race.length<=0) {
                                $race = $("<div id='race_id_"+r.id+"' class='col-md race-list'>");
                                $races_container.append($race);
                                $race.height($(window).height());
                            }
                            load_content.html('/api/race/'+r.id+'/state?template=models/race/active_race.html', $race, function(){

                            });
                        });
                    }
                    if (data.unregistered_competitors.length > 0) {

                    }
                    if (data.unregistered_tags.length > 0) {

                    }
                }
            }).always(function(){
                setTimeout(get_status, refresh_delay);
            })
        }

        get_status();


        notify.info($("#todo-list").remove().html());

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        var sidebar = {
            open: function() {
                update_race_controls();
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            },
            close: function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            }
        }


        $('#dismiss, .overlay').on('click', function () {
            sidebar.close();
        });

        $('#sidebarCollapse').on('click', function () {
            sidebar.open();
        });
    });

</script>
</body>
</html>